<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.index()">WebSiteName</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      @if(session().get("user") != null) {
        <li><a href="@routes.Application.java()">Java</a></li>
        <li><a href="@routes.Application.scala()">Scala</a></li>
        <li><a href="@routes.Application.groovy()">Groovy</a></li>
        <li><a href="@routes.Application.python()">Python</a></li>
        <li><a href="@routes.Application.ruby()">Ruby</a></li>
      }
      </ul>
      <ul class="nav navbar-nav navbar-right">
        @if(session().get("user") == null) {
          <li><a href="@routes.RegisterController.displayRegister()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="@routes.LoginController.displayLogin()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        } else {
          <li><a href="@routes.MyAccountController.displayMyAccount()"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
          <li><a href="@routes.LogoutController.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
         }
      </ul>
    </div>
  </div>
</nav>